Repository tradingview/lightweight-charts, pull requests merged in 2023-02, with the labels that each got.

#613 Added proper support for ES module exports (with some fixes for NodeJS context)
  .circleci/config.yml
  .eslintrc.js
  .puppeteerrc.js
  .size-limit.js
  BUILDING.md
  index.cjs
  index.js
  package.json
  rollup.config.js
  scripts/clean-package-json.js
  scripts/compare-size-with-merge-base.js
  src/helpers/browsers.ts
  tests/e2e/coverage/runner.js
  tests/e2e/graphics/README.md
  tests/e2e/graphics/runner.js
  tests/e2e/memleaks/runner.js
  website/docusaurus.config.js
Labels: breaking change

#1261 New Documentation Landing Page
  tests/e2e/graphics/helpers/screenshoter.ts
  website/docs/release-notes.md
  website/docusaurus.config.js
  website/package.json
  website/sidebars.js
  website/src/components/CardLink/index.tsx
  website/src/components/CardLink/styles.module.css
  website/src/components/CardLinkList/index.tsx
  website/src/components/landing-page/Banner/banner.module.css
  website/src/components/landing-page/Banner/index.tsx
  website/src/components/landing-page/CTAButton/ctabutton.module.css
  website/src/components/landing-page/CTAButton/index.tsx
  website/src/components/landing-page/Cards/cards.module.css
  website/src/components/landing-page/Cards/index.tsx
  website/src/components/landing-page/Codeblock/codeblock.module.css
  website/src/components/landing-page/Codeblock/index.tsx
  website/src/components/landing-page/Hero/hero.module.css
  website/src/components/landing-page/Hero/index.tsx
  website/src/components/landing-page/HeroChart/hero-chart-data.json
  website/src/components/landing-page/HeroChart/index.module.css
  website/src/components/landing-page/HeroChart/index.tsx
  website/src/css/custom.css
  website/src/img/github-logo.svg
  website/src/img/hero-logo.svg
  website/src/img/input-sliders.svg
  website/src/img/logo.svg
  website/src/img/paperplane.svg
  website/src/img/screens.svg
  website/src/img/speedometer.svg
  website/src/img/tradingview-heart.svg
  website/src/img/tradingview-logo-small.svg
  website/src/img/tradingview-logo.svg
  website/src/pages/chart.module.css
  website/src/pages/hero-chart-data.json
  website/src/pages/index.module.css
  website/src/pages/index.tsx
  website/src/theme/Logo/index.module.css
  website/src/theme/Logo/index.tsx
  website/static/favicon.ico
  website/static/img/favicon/apple-touch-icon.png
  website/static/img/favicon/favicon-16x16.png
  website/static/img/favicon/favicon-32x32.png
  website/static/img/favicon/safari-pinned-tab.svg
  website/tutorials/how_to/legend-3line.js
  website/tutorials/how_to/legend.js
  website/tutorials/how_to/legends.mdx
  website/tutorials/how_to/price-and-volume.js
  website/tutorials/how_to/price-and-volume.mdx
  website/tutorials/how_to/tooltip-floating.js
  website/tutorials/how_to/tooltip-magnifier.js
  website/tutorials/how_to/tooltip-tracking.js
  website/tutorials/how_to/tooltips.mdx
Labels: website

#1264 Add release notes page to versioned documentation
  BUILDING.md
  website/versioned_docs/version-3.8/release-notes.md
  website/versioned_docs/version-4.0/release-notes.md
  website/versioned_sidebars/version-3.8-sidebars.json
  website/versioned_sidebars/version-4.0-sidebars.json
Labels: website

#1280 Docs: Include version warning for mobile wrappers
  website/docs/android.md
  website/docs/ios.md
  website/versioned_docs/version-4.0/android.md
  website/versioned_docs/version-4.0/ios.md
Labels: documentation
